rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
             request.auth.token.email == "ceicopiers@gmail.com";
    }

    match /thumbnails/{file=**} {
      allow read: if true;
      allow write: if isAdmin() &&
                      request.resource.size < 5 * 1024 * 1024 &&
                      request.resource.contentType.matches('image/.*');
      allow delete: if isAdmin();
    }

    match /bundles/{file=**} {
      allow read: if true;
      allow write: if isAdmin() &&
                      request.resource.size < 50 * 1024 * 1024;
      allow delete: if isAdmin();
    }

    match /{allOther=**} {
      allow read, write: if false;
    }
  }
}
